Source: ros-lyrical-ecl-streams
Section: misc
Priority: optional
Maintainer: Daniel Stonier <d.stonier@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-lyrical-ament-cmake-gtest <!nocheck>, ros-lyrical-ament-cmake-ros, ros-lyrical-ament-lint-auto <!nocheck>, ros-lyrical-ament-lint-common <!nocheck>, ros-lyrical-ecl-build, ros-lyrical-ecl-concepts, ros-lyrical-ecl-converters, ros-lyrical-ecl-devices, ros-lyrical-ecl-errors, ros-lyrical-ecl-license, ros-lyrical-ecl-time, ros-lyrical-ecl-type-traits, ros-lyrical-ros-workspace
Homepage: http://wiki.ros.org/ecl_streams
Standards-Version: 3.9.2

Package: ros-lyrical-ecl-streams
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-lyrical-ecl-concepts, ros-lyrical-ecl-converters, ros-lyrical-ecl-devices, ros-lyrical-ecl-errors, ros-lyrical-ecl-license, ros-lyrical-ecl-time, ros-lyrical-ecl-type-traits, ros-lyrical-ros-workspace
Description: These are lightweight text streaming classes that connect to standardised ecl type devices.
